<ion-view view-title="Cadastro">
  <ion-content>
    <div class="bar bar-header bar-light">
      <h1 class="title">Cadastro</h1>
    </div>
    <div class="list list-inset has-header">
      <div class="list cadastro">
        <label class="item item-input item-floating-label">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="Full Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Senha">
        </label>
        <ion-list>
          <ion-radio ng-model="choice" ng-value="'A'">Estudante</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">Profissional</ion-radio>
        </ion-list>
        <button class="button button-block button-balanced" ng-click="salvar()" type="submit">Salvar</utton>
        </div>
      </div>
    </ion-content>
  </ion-view>
