<ion-view view-title="Galeria">
  <ion-content>
    <div class="card">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <div class="list list-inset">
      <div class="card">
          <div class="item item-text-wrap">
            <button class="icon-left ion-star"></button>
            <button class="button_share_galeria icon-right ion-android-share-alt">
            </button>
          </div>
      </div>
    </div>

  </ion-content>
</ion-view>
