<ion-view view-title="Galeria">
  <ion-content class="is-header-search">
    <div class="card">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
 </ion-content>
  <ion-content class="is-file">
    <div class="list list-inset">
      <div class="card">
        <div class="item-galeria item item-text-wrap">
            <div class="row">
                <div class="button-star-galeria col col-25">
                  <button class="button-star-galeria ion-ios-star-outline"></button>
                </div>
                <div class="col col-50">
                  <p> Arquivo 1</p>
                </div>
                <div class="button-share-galeria col col-25">
                  <button class="button-share-galeria icon-right ion-android-share-alt"></button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
