ion-content{
  display: inline-block;
}

.button_share_galeria{
  float: right;
}

.button_star_galeria{
  float:left;
}

.has-search {
  margin-top: 80px;
}

.is-header {
  background-color: #fff;
}

.is-header .card {
  z-index: 1000;
}
